<ul class="card-text font-weight-light list-group list-group-flush">
    {% for y in entry.years %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2 col-md-2 text-center" style="width: 75px;">
            <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
              {{ y }}
            </span>
            </div>
            {% bibliography -f papers -q @*[year={{y}}]* %}
        </div>
      </li>
    {% endfor %}
    </ul>